  <footer>
    <div class="general-menu-bar">
      <div class="general-menu-bar-btn1">
        <a href="/sources"><div class="general-menu-bat-btn1-icon"><img src="/images/sources_icon.png"></i></div></a>
      </div>
    
      <div class="general-menu-bar-btn1">
        <a href="/expenses"><div class="general-menu-bat-btn1-icon"><img src="/images/expenses_icon.png"></i></div></a>
      </div>
    
      <div class="general-menu-bar-btn1">
       <a href="#"><div class="general-menu-bat-btn1-icon"><img src="/images/plus_icon.png"></i></div></a>
      </div>
    
      <div class="general-menu-bar-btn1">
        <a href="/addexpend"><div class="general-menu-bat-btn1-icon"><img src="/images/expense_icon.png"></i></div></a>
      </div>
    
      
    </div>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>